@media (min-width: 1200px) {
	.navbar {
		/*background-color: rgba(255,255,255,0);*/
		background: rgb(0,0,0);
		background: -webkit-linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
		background: -o-linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
		background: linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
	}
	.navbar-brand-en {
		background-image: url(/transfo/images/tc-transformation-logo-white.svg);
	}
	.navbar-brand-fr {
		background-image: url(/transfo/images/tc-transformation-logo-white-fr.svg);
	}
	.nav-link {
		color: #fff !important;
		font-weight:bold;
	}
	.navbar-toggler {
		background:#fff;
	}
}