/* Master styles */
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
	font-style: 400;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 100%;
	color: #00698c;
	margin-top:30px;
}
h1 {
	font-size: 32pt;
}
h2 {
	font-size: 32pt;
}
h3 {
	font-size: 25pt;
}
h4 {
	font-size: 20pt;
}
h5 {
	font-size: 16pt;
}
h6 {
	font-size: 14pt;
}
p {
	line-height:120%;
}
p .big {
	font-size: 16pt
}
.hr-tick-center {
	width: 50px;
	border: 2px solid #da5a26; 
}
hr.break {
	margin:30px 0;
	width:100%;
}
a.internal::after {
	content: " 🔒"
}

/* Skip head */
#cn-skip-head {
	display: none;
}
.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.sr-only-focusable:active, .sr-only-focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto; 
}

/*Landing page*/
.landing-bg {
	height: 100%;
	position: fixed;
	width: 100%;; 
}
.landing-bg img {
	position: absolute;
	height: auto;
	margin: auto;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	z-index:-100;
}
.landing-content {
	max-width:500px;
	width:100%;
	background:#fff;
	margin:30vh auto;
	padding:20px;
}
.landing-content img {
	width:100%;
	margin: 20px 0 0;
}
.landing-lang {
	text-align:center;
}
.landing-lang a {
	margin:30px 0;
}

/*Orange top line*/
.top-gap {
	height:20px; 
	background-color:#da5a26;
}

/* Nav */
.navbar {
	background-color: #fff;
	min-height:auto;
	/*padding: 20px 20px;*/
}
.navbar-brand {
	width: 225px;
	height: 75px;
	background-size: contain;
	background-repeat:no-repeat;
}
.navbar-brand-en {
	background-image: url(/transfo/images/tc-transformation-logo.svg);
}
.navbar-brand-fr {
	background-image: url(/transfo/images/tc-transformation-logo-fr.svg);
}
.navbar img {
	width: 100%;
	max-width: 225px;
}
.navbar-light .navbar-nav .nav-link {
	color: rgba(0,0,0,.75);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: rgba(0,0,0,1);
}
.dropdown-menu {
	background-color:#eee;
}
#lang-toggle {
	font-weight:bold;
}

/* Fix nav line break issue */
.dropdown-toggle, .nav-link, .dropdown-item {
    white-space: normal;
}


/* Homepage */
.beige-bg {
	background-color:rgb(246,245,240);
	padding:25px 0;
}
.ast {
	text-align:center;
}
.ast h2 {
	margin-bottom:50px;
}
.ast h2 span {
	margin:0 5px;
}
.btn-orange {
	color:#fff;
	background-color:#df6420;
	border-color:#df6420;
	padding-bottom: 0.4rem;
}
.btn-orange:active, .btn-orange:hover, .btn-orange:focus {
	background-color:#cf5b1b !important;
	border-color:#cf5b1b !important;
}

/* FullCalendar styling */

.fc-right {
	/*display:none;*/
}
.fc-event-container .orange {
	background-color:#df6420;
	border-color:#df6420;
}

.fc-event-container .blue {
	background-color:#00698c;
	border-color:#00698c;
}

.fc-event-container .green {
	background-color:#7cccbd;
	border-color:#7cccbd;
}

/* Video page */
.video {
	 background-size:cover;
	 width:100%;
	 height:450px;
	 position:relative;
}
.shade {
	position:absolute;
	top:0px;
	right:0px;
	background-color:rgba(255,255,255,0.8);
	width:100%;
	max-width:500px;
	height:inherit;
}
.video-left .shade {
	right:auto;
	left:0;
}
.vid-text {
	text-align:center;
	position:absolute;
	bottom:30px;
	left:0px;
	width:100%;
	padding:0 25px;
}
.vid-text h6 {
	text-transform:uppercase;
	color:#df6420;
}
.video a img {
	width:70px;
	position:absolute;
	top:30px;
	right:40px;
}
.video-list {
	margin:20px 0;
}
.list-video {
	padding:20px; 
	border: 1px solid #ddd; 
	border-bottom:none;
}
.list-video:last-child {
	border-bottom:1px solid #ddd;
}
.list-video a.img-link {
	display:block; 
	width:60px;
	position: relative;
	left: -18px;
	top: 10px;
}
.list-video a img{
	width:100%;
}
.list-video h6 {
	margin-top:10px;
}
.list-video p {
	margin-bottom:10px;
}

/* Video Modal  */
.modal-dialog {
	width:97%; 
	max-width:149vh;
	margin:1rem auto;
}
.modal-header {
	padding:0.5rem 1rem;
	background-color:#000;
	border-bottom:none;
}
.modal-header button {
	color:#fff;
}
.modal-header button:hover, .modal-header button:active, .modal-header button:focus {
	color:#fff;
}
#modal-body {
	position:relative;
	padding-top:56.25%;
	background:#000;
}
#modal-video {
	background:#000;
    position: absolute;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
}


/* Watch Video template page (alt option) */
#video-back {
	background: #595959;
	padding: 7px 20px;
	color: #fff;
	text-decoration:none;
}
#video-back a {
	color: #fff;
	text-decoration:none;
}
#video-back a:hover, #video-back a:active {
	color:rgba(255,255,255,0.85);
}

#video-embed {
	width:100%;
	height:56.25vw;
	max-height:100vh;
}


/* Transfo Plan */
.subsection {
	text-align:center;
	padding:20px 0 20px 0;
	margin-top:25px;
}
.subsection h2 {
	font-size:25px; 
	color:#00698c; 
	text-transform:uppercase;
	margin-top:0px;
}
.subsection-alt {
	margin:45px auto 30px auto;
	padding:20px;
	background-color: #00698c;
	min-width:300px;
	width:max-content;
	width: -moz-max-content;
}
.subsection-alt h2 {
	color:#fff;
	margin-bottom:0;
}
.subsection p {
	font-size:16px;
	color:#df6420;
	margin-bottom:0;
}
.vision-box {
	position:relative; 
	width:100%; 
	margin-top:25px; 
	padding: 40px 25px 10px 25px; 
	background-color:#f6f5f0; 
	text-align:center;
}
.vision-title {
	color:#fff; 
	border-radius:19px; 
	font-size:20px; 
	text-transform:uppercase;
	width: 50%;
	margin: 0 auto;
	padding: 3px 0;
	position: absolute;
	left: 0;
	right: 0;
	top: -16px;
	font-weight: bold;
	min-width: 150px;
}
.vision-print {
	text-align:right;
}
.vision-print a {
	color:#595959; 
	font-size:10pt; 
	text-decoration:none; 
	margin-top:25px;
}
.transfo-plan h3 {
	font-size:18px;
	text-align:center;
}
.transfo-plan .img {
	width:300px;
	max-width:100%;
	margin:20px auto;
}

.transfo-plan img {
	width:100%;
}
.transfo-plan-print {
	text-align: center; 
	font-size: 14pt; 
	color: #fff; 
	padding:40px 20px 75px 20px;
	background-color: #00698c;
	font-weight:bold;
	margin-bottom:50px;
	position:relative;
	overflow-wrap: break-word;
}
.transfo-plan-print a {
	text-decoration:none;
}
.transfo-plan-print img {
	width:50px;
	margin:0 auto;
	position: absolute;
	bottom: 20px;
	left: 0px;
	right: 0px;
}

/* Footer */
.footer {
	background-color:#fff;
	border-top:2px solid #f6f5f0;
	/*margin-top:50px;*/
}
.footer-content{
	padding:50px 0 35px 0;
}
#TC-logo a {
	display: block;
	max-width:250px;
	margin:0 auto;
}
#TC-logo img {
	max-width: 300px; 
	margin-top: 20px;
}
#back-to-top a, #back-to-top a:active {
	text-align: center;
	display:block;
	max-width:150px;
	margin:0 auto;
	border:2px #000 solid;
	padding:10px;
	border-radius:10px;
	color:#000;
	text-decoration:none;
	font-size:0.8em;
	background-color:#fff;
}
#back-to-top a:focus, #back-to-top a:hover {
	opacity: 0.7;
	background-color:#eee;
}
#questions {
	text-align:center;
	padding-top:20px;
}
#footer-pattern {
	width:100%;
	min-width:1000px;
}


@media (min-width: 576px) {
	.navbar {
		min-height:130px;
		background-color:#fff;
		z-index:999;
	}

	/* Revert nav line break fix */
	.dropdown-toggle, .nav-link, .dropdown-item {
	    white-space: nowrap;
	}

	#outerBanner h1 {
		font-size: 45px;
	}
	.list-video a.img-link {
		display:block; 
		margin:0 auto; 
		width:60px;
		position: static;
	}
}

@media (min-width: 768px) {
	#outerBanner {
		padding: 100px 6em 100px 6em;
	}
	#outerBanner h1 {
		margin-top: 40px;
	}
	#banner {
		padding: 4em;
		max-width: 600px;
		margin: 0 auto;
		-webkit-backdrop-filter: blur(15px) saturate(200%);;
		backdrop-filter: blur(15px) saturate(200%);
	}
}

@media (min-width: 1200px) {
	#lang-toggle {
		position:relative; 
		top:-50px; 
		background-color:#da5a26; 
		color:#fff; 
		border-radius:0 0 5px 5px; 
		padding:0px 5px;
		font-weight:normal;
	}
	#lang-toggle .nav-link {
		color: rgba(255,255,255,1);
	}
	#lang-toggle .nav-link:focus, #lang-toggle .nav-link:hover {
		color: rgba(255,255,255,1);
	}
	.dropdown-menu {
		background-color:#f7f7f7;
	}
}
